*{
    margin: 0;
    padding: 0;
    border: box-sizing;
    color: aliceblue;
    font-family: 'Courier New', monospace;
}

body{
width: 100vw;
height: 100vh;
overflow-x: hidden;
background-color: black;
}

/* ------------preloader............... */
#preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: black;
}
.loder{
    width: 60%;
    height: 50%;
    text-align: center;
}
.down{
    width: 100%;
    height: 2%;
    background-color: rgba(240, 248, 255, 0.719);
    margin-top: 2%;
}
.down-bar{
    width: 0%;
    height: 100%;
    background-color: rgb(77, 77, 231);
    animation: fell 1.1s linear 0s infinite ;
    border-radius: inherit;
}
@keyframes fell {
    0% { width: 0; }
    50% { width: 50%; }
    100% { width: 100%; }
}

/* -----------------NavBAr------------------- */
.nav{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 10;
    text-align: center;
    display: flex;
}
.nav_manu{
    width: 2%;
    height: 40%;
    margin-left: 30%;
    margin-top: 1%;
    cursor: pointer;
    position: relative;
}
.nav_manu_cross{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    visibility: hidden;
}

/* -----------------slide----------------------- */
.slide{
    width: 300vw;
    height: 100%;
    overflow-y: hidden;
    display: flex;
}
section{
    width: 100%;
    height: 100%;
}

/* ----------------slide1---------------------- */
.slide1{
width: 100%;
height: 100%;
}
.vido{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    
}
.vido2{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -2;   
}
.slide1-delails{
    width:100vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#delails{
    width: 70%;
    height: 60%;
    text-align: center;
}
.delails-button{
    width: 35%;
    height: 15%;
    background-color: rgba(30, 30, 241, 0.89);
    border: 1px solid rgba(30, 30, 241, 0.89);
    margin-top: 5%;
}
.delails-button:hover{
    background: transparent;
}

.delails-button:hover h1{
    color: blue;
}
.scroll0{
    margin-top: 3%;
    width: 8%;
    height: 35%;
    margin-left: 48%;
    overflow: hidden;
    position: relative;
}
.scroll0-bar{
    width: 100%;
    height: 80%;
}
.scroll{
    position: relative;
    width: 100%;
    height: 0%;
    animation: scroll1 1.3S linear 0s infinite ;
}

@keyframes scroll1 {
    0% { height: 15%; }
    100% { height: 30%; visibility: hidden; }
}
.scroll-bar1{
    width: 100%;
    height: 90%;
    /* animation: scroll1 1S linear 0s infinite ; */
}

.scroll-bar2{
    width: 100%;
    height: 90%;
    /* animation: scroll2 1s linear 0s infinite ; */
}
.scroll2{
    bottom:20% ;
}
.scroll-bar3{
    width: 100%;
    height: 90%;
    /* animation: scroll3 1s linear 0s infinite ;    */
}
.scroll3{
    bottom: 40%;
}
.div-p{
 width: 100%;
 height: 20%;
 text-align: center;
 font-size: 20px;
 position: absolute;
 bottom: 47%;
}

/* --------Nav downslide------------------ */
.downslide{
    position: fixed;
    width: 100%;
    height: 15%;
    bottom: 0%;
    z-index: 1;
}
.navdown-logo{
    width: 80%;
    height:43% ;
    margin-left: 10%;
    backdrop-filter: blur(10px);
    background-color: rgba(54, 53, 53, 0.568);
    margin-top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navdown-logo-details{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
}
.language{
    background: transparent;
    border: none;
}
#navdowndetais{
    width: 80%;
    height: 5vh;
    margin-left: 10%;
    background-color: rgba(54, 53, 53, 0.568);
    position: absolute; 
    bottom: 0; 
    backdrop-filter: blur(10px);
    z-index: 10;
}

.navdowndetaisbutton{
    width: 6%;
    height: 8%;
    border: none;
    background: transparent;
    transform: rotateZ(180deg); 
    margin-left: 10%;
    cursor: pointer;
}
.frst-div{
    width: 100%;
    display: flex;
}
#visibal{
    visibility: visible;
}
#visiball{
    visibility: visible;
}
.div-details{
    width: 100%;
    height: 80%;
    margin-top: 5%;
    display: flex;
}
.div_all_details{
    width: 50%;
    height: 100%;
}
.nav_manu_details{
    width: 100vw;
    height: 0vh;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    position: absolute;
    transition: all 0.6s ease-in;
    z-index: 10;
}
.nav_manu_details_p{
    width: 100%;
    height: 17%;
    transition: all 5S ease-in;
}
.nav_manu_details_p_a{
    text-decoration: none;
    display: flex;
    
}
.nav_manu_details_p_a :hover{
  color: blue;
}
.nav_manu_details_p:hover>a>h2{
    color: blue;
}

/* ---------------------slide2------------------------- */
.slide2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#slide2_details{
 width: 160%;
 height: 57%;
 margin-left: 80%;
 position: absolute;
 display: flex;
 gap: 5%;
}
.slide2_details0{
    width: 50%;
    height: 100%;
    transition: all ease 0.6s;
    text-align: center;
    position: relative;
}
.slide2_details00{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#slide2_details1{
    background-image: url(Bugatti_Tourbillon_00_HP_Card_V1.jpg);
}
.slide2_details01{
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all ease 0.6s;
}
.video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide2_details0:hover{
    scale:1.1 ;
    cursor: pointer;
}
.slide2_details0:hover .slide2_details01{
    opacity: 1;
}
#slide2_details2{
   background-image:url(1920x1080_shop_icon.jpg) ;
}
#slide2_details3{
    background-image:url(homepage-bolide-card.jpg) ;
}
#slide2_details4{
    background-image:url(homepage-w16-mistral-card.jpeg) ;
}
#slide2_details5{
    background-image:url(homepage-sur-mesure-card2.jpeg) ;
}
#slide2_details6{
background-image:url(homepage_newsroom_card.png) ;
}
/* ------------------slide3------------------ */
.slide3{
    width: 100%;
    height: 100%;   
    cursor: default	;
}
.downnav_details{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    visibility: hidden;
}
.downnav_details1{
    width:70% ;
    height: 10%;
    padding-top: 3%;
    padding-left: 14%;
    font-size: 24px;
    font-weight: bold;
   
}
.BUGATTI_LIFESTYLE:hover{
    color: blue;
    cursor: pointer;
}
.socal_midea{
    width: 20%;
    height: 6%;
    display: flex;
    margin-top: 4.8%;
    margin-left: 40%;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.midea{
    width: 16%;
    height: 100%;
}
.midea:hover{
    cursor: pointer;
}
.fill{
    width: 80%;
}
.fill:hover{
 fill: blue;
}